/* @media print {
    .MuiDialog-root {
        position: absolute !important;
    }
} */

.tokenCard {
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    border-color: grey;
    border-style: solid;
    overflow: scroll;
    font-size: larger;
}

.tokenMainDiv {
 
    font-size: medium;
}


button.myButtons {
    margin: 4px;
    padding: 4px;
    font-size: larger;
}

.tokenDiv {
    position: relative;
}

.smallerIcon {
    scale:calc(0.5);
}