.App {
    text-align: left;
    font-size: calc(14px + 2vmin);
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}

span.MuiTypography-body2 {
    background-color: white
}

div.MuiTabs-vertical {
    min-width: 150px;
}

main {
    width: 333px;
    margin: 1px;
}

.surroundingBox {
    max-width: 1024px;
}

.surroundingDiv {
    max-width: 1024px;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.MuiToolbar-regular {
    background-color: black;
}

.panelTop {
    border: 4px;
}

.topOfPanel {
    background-color: white;
}

.topBarContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: black;
}


/* flex: 1;
flex-grow: 1; */


/* This is the MyToolbarText span  */

span.barleft {
    background-color: black;
    flex-grow: 1;
    font-size: calc(36px);
}

span.help {
    background-color: black;
    flex-grow: 1;
}

button.help {
    background-color: black;
    color: lightblue;
}

span.NetStatus {
    font-size: calc(10px);
    background-color: black;
    margin-left: auto;
}