.devCard {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 4px;
}

.cardRow1 {
    display: flex;
    flex-direction: row;
}

.devName {
    flex-grow: 4;
    margin: auto;
    padding: 4px;
}

.devKey {
    flex-grow: 1;
    margin: auto;
}

.adminKey {
    flex-grow: 1;
    margin: auto;
}

.cardRow2 {
    display: flex;
    flex-direction: row;
    padding: 12px;
}

.cmdpulldown {
    margin: auto;
}

.cmdSpan {
    flex-grow: 4;
    border-radius: 6px;
    border: 2px;
    margin: 8;
    border-color: black;
    background-color: antiquewhite;
}

.cmdButton {
    margin: auto;
    width: 100%;
    height: 100%;
    border-color: grey;
    border-radius: 8px;
    min-width: 64px;
    font-size: larger;
}

.cmdOverlay {
    background-color: antiquewhite;
}

.arg {
    margin: auto;
}

.resultSpan {
    margin: auto;
    margin-left: 2px;
}

.resultDiv {
    padding: 16px;
    border: 1px;
    border-radius: 8px;
    border-color: grey;
    border-style: solid;
    overflow: scroll;
    max-height: 48px;
    max-width: 512px;
}

.menu {
    flex-grow: 1;
    margin: auto;
}

.faux-button {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px;
    margin: auto;
    padding: 12px;
}

.overlay {
    position: absolute;
    font-size: 1rem;
    color: grey;
    background-color: white;
    transform: translate(2px, -12px) scale(0.75);
    border: 1px;
    border-radius: 4px;
    border-color: grey;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}

p {
    margin: 0px;
}