.selButtons {
    background-color: white;
    width: 100%;
    height: 256px;
    font-size: medium;
}

.indented {
    margin-left: 20px
}

.centered {
    margin: auto;
    width: 50%;
}

button {
    background-color: white;
    border: 0px solid black;
    font-size: medium;
    color: blue;
}

code {
    background-color: lightgray
}

pre {
    background-color: lightgray
}

p {
    width: 100%;
    overflow-wrap: normal
}

li {
    width: 100%;
    overflow-wrap: normal
}

span {
    align-items: left
}